<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div style="height: 45px;"><img src="static/images/logo.png" alt="" style="height: 100%;"></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Market Maker Tools
    </div>

    <!-- Nav Item - MMaker Recon Report -->
    <li class="nav-item">
        <a class="nav-link" href="/mmaker_report">
            <i class="fas fa-book"></i>
            <span>Recon Report</span>
        </a>
    </li>

    <!-- Nav Item - Market Maker Break Analyser -->
    <li class="nav-item">
        <a class="nav-link" href="/mmaker_break_analyser">
            <i class="fas fa-tools"></i>
            <span>Break Analyser</span>
        </a>
    </li>

    <!-- Nav Item - Manual MMaker P&L -->
    <li class="nav-item">
        <a class="nav-link" href="/mm_pnl">
            <i class="fas fa-clipboard"></i>
            <span>Manual P&L Importer</span>
        </a>
    </li>

    <!-- Nav Item - Pages Collapse Menu 
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>MM Report Tools</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Market Maker Tools</h6>
            <a class="collapse-item" href="/mmaker_report">Market Maker Recon</a>
            <a class="collapse-item" href="/mm_break_analyser">Market Maker Analyser</a>
            <a class="collapse-item" href="/mm_pnl">Manual P&L Importer</a>
        </div>
        </div>
    </li> -->


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Other OPS Utilities
    </div>

    <!-- Nav Item - User Balance Snapshot -->
    <li class="nav-item">
        <a class="nav-link" href="/userbal_snapshot">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>User Balance Snapshot</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) 
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
    -->
</ul>
<!-- End of Sidebar -->